$primary-color: #54c5d0;
$raleway: 'Raleway', sans-serif;
$libre: 'Libre Baskerville', serif;
$poppins: 'Poppins', sans-serif;
$varela: 'Varela Round', sans-serif;

.container-fluid {padding:0;}
.navbar {background-color: #fff;
	.navbar-collapse {flex-grow: unset;
		.navbar-nav {margin-right: 1rem;
			.nav-item {margin: 0 .375rem;
				a {color: #000; font-family: $raleway; font-weight: bold;}
			}
		}
		button {color: $primary-color; border-color: $primary-color; margin-left: 2rem; padding: .375rem 1.75rem;}
	}
}

footer {
	.nu_footer_body {background-color: #111; padding: 5rem 0 2rem 0;
		.card {background: transparent; border:none;
			.brand-logo {width: 6rem;}
		}
		.nu_footer_sec_1 {height: auto; overflow: auto;
			.nu_footer_sec_1a {float: left; border-bottom: 2px solid #666; padding-right: 5rem;
				h3 {font-family: $raleway; font-weight: 700; color: $primary-color; font-size: 3rem; margin-bottom: 2rem;}
				p {font-family: $raleway; font-weight: 600; color: #c1c1c1; font-size: 1rem;}
			}
			.nu_footer_sec_1b {float: right;
				ul {list-style: none; padding: 0;
					li {float: left;
						img {width: 50px;}
					}
				}
			}
		}
		.nu_footer_sec_2 {margin: 5rem 0 0 0;
			p {font-family: $raleway; font-weight: 500; color: #c1c1c1; font-size: 1rem; padding-right: 2rem;}
			ul {list-style: none; padding: 0; display: flex; flex-wrap: wrap; justify-content: space-between;
				li {width: 8rem; margin: 0.5rem 0;
					a {color: #666; font-family: $raleway; font-weight: 500; font-size: 0.8rem;}
				}
			}
		}
		.copyright {font-family: $raleway; font-weight: 500; color: #666; font-size: 1rem;}
	}
	.nu_footer_end {padding: 2rem 0;
		p {font-family: $raleway; font-weight: 500; color: #666; font-size: 0.8rem; float: left;}
		span {font-family: $raleway; font-weight: 500; color: #666; font-size: 0.8rem; float: right;}
	}
	
}

/**************************** Home Page ************************/
.nu_home_page {background: url("../img/bg-img.png") no-repeat; background-size: 100%; background-position-y: 10rem;
	.container-fluid{
		.container {
			.nu_section_1 {padding: 6rem 0; margin-bottom: 26rem;
				.nu_latest {font-family: $raleway; font-weight: 400; font-size: 1rem; 
					span {background: #a6ce39; color: #fff; text-transform: uppercase; padding: 5px 10px; font-family: $poppins; font-weight: 600;}
					a {color: #888; margin-left: 10px; font-family: $raleway; font-style: normal; border-bottom: none; font-size: 1rem;}
				}
				.nu_section_1a {height: auto; overflow: auto; margin-bottom: 1rem;
					h1 {font-size: 3rem; font-family: $raleway; font-weight: 900; margin: 2rem 0 1.5rem;}
					p {font-family: $raleway; font-weight: 400; color: #666; font-size: 1.4rem;}
					button {background-color: $primary-color; border-color: $primary-color; font-family: $raleway; margin: 1.5rem 0; font-size: 1rem; padding: 0.375rem 1rem; font-weight: 600;}
				}
				a {font-family: $libre; font-style: italic; font-size: 1rem; border-bottom: 2px solid #000; color: #666; margin-top: 2rem;}
				.card {border: none; border-radius: 0; background: transparent;}
			}
			.nu_section_2 {
				.nu_section_2a {
					.card {border: none;
						a {color: $primary-color; font-family: $raleway; font-weight: 600; font-size: 1.2rem;}
						.card-title {font-family: $raleway; font-weight: 700; font-size: 2rem; margin: 1.5rem 0;}
						p {font-family: $raleway; font-weight: 600; color: #666; font-size: 1.2rem; margin-bottom: 2rem;}
						a.btn {font-family:$raleway; color: #fff; background-color: $primary-color; border-color: $primary-color; font-size: 1rem;}
					} 
				}
				.nu_section_2b {margin-bottom: 5rem;
					.card {border: none;
						img {width: 8rem; padding: 1rem;}
						.card-body {padding: 1rem;
							.card-title {font-family: $raleway; font-weight: 700; font-size: 1.1rem;}
							p {font-family: $raleway; font-size: 1rem; font-weight: 600; color: #666;}
						}
						span {padding: 0 1rem;
							svg {width: 5px; margin-right: 5px;}
						}
					}
				}
			}
			.nu_section_3 {border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 3rem 0; margin-bottom: 5rem;
				.card {border: none; border-radius: 0;
					h3 {font-family: $raleway; font-weight: 700; font-size: 2.2rem; width: 50%; color: $primary-color; margin-bottom: 2rem;}
					ul {list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; justify-content: space-between;
						li {font-family: $raleway; font-size: 1.4rem; margin: 2rem 0; width: 20rem;
							.nu_counter {width: 4rem; height: 4rem; font-size: 2rem; padding: 0.375rem; text-align: center; float: left; margin-right: 1rem; background: #54c5d0; border-radius: 3rem; color: #fff; font-weight: 600;}
							.nu_percent {font-family: $raleway; font-weight: 700;}
						}
					}
				}
			}
			.nu_section_4 {margin-bottom: 3rem;
				.card {border: none; border-radius: 0;
					.card-body {padding: 1rem 0;
						h3 {font-family: $raleway; font-weight: 300; font-size: 2.5rem; margin-bottom:2rem; text-align: center;}
						div {display: inline-flex; flex-wrap: wrap; justify-content: space-between; transform: scale(.75);}
						#nu_img_1 {background: url("../img/companies.jpg") 0 11.5rem; width: 8rem; height: 4rem;}
						#nu_img_2 {background: url("../img/companies.jpg") -10rem 11.5rem; width: 10rem; height: 4rem;}
						#nu_img_3 {background: url("../img/companies.jpg") -22rem 11.5rem; width: 8rem; height: 4rem;}
						#nu_img_4 {background: url("../img/companies.jpg") -32rem 11.3rem; width: 8rem; height: 4rem;}
						#nu_img_5 {background: url("../img/companies.jpg") -42rem 11.5rem; width: 10rem; height: 4rem;}
						#nu_img_6 {background: url("../img/companies.jpg") -54rem 11.5rem; width: 11rem; height: 4rem;}
						#nu_img_7 {background: url("../img/companies.jpg") -67rem 11.5rem; width: 7rem; height: 4rem;}
						#nu_img_8 {background: url("../img/companies.jpg") -76.3rem 12rem; width: 4rem;	height: 4.5rem;}
					}
				}
			}	
		}
	}
	.nu_section_5 {background-color: #f1fafa; padding: 6rem 0 4rem 0;
		.card {border: none; background: transparent;
			.card-body {padding: 0 1.25rem;
				a {color: $primary-color; font-family: $raleway; font-weight: 600; font-size: 1.2rem;}
				.card-title {font-family: $raleway; font-weight: 700; font-size: 1.7rem; margin: 1rem 0;}
				ol {list-style: none; padding: 0; counter-reset: myCounter; margin-top:1rem;
					li {counter-increment: myCounter; margin-bottom: 0.5rem; font-family: $raleway; font-weight: 600; color:#919696;}
					li::before {content: counter(myCounter); color: #fff; font-size: 0.8rem; padding: 4px 9px; font-weight: 600; background: #919696; border-radius: 50%; text-align: center; margin-right: 0.5rem;}
				}
			}
		}
	}
	.container {
		.nu_section_6 {padding: 3rem 0; margin: 3rem 0;
			.nu_section_6a {
				.card {border: none;
					a {color: $primary-color; font-family: $raleway; font-weight: 600; font-size: 1rem;}
					.card-title {font-family: $raleway; font-weight: 700; font-size: 1.5rem; margin: 1rem 0;}
					p {font-family: $raleway; font-weight: 600; color: #666; font-size: 1rem;}
				} 
			}
			.nu_section_6b{
				.card {border: none; border-radius: 0;
					.card-body {padding: 1rem 0; display: flex; flex-wrap: wrap; justify-content: space-between; 
						div {transform: scale(.8);}
						#nu_img_9 {background: url(../img/partners.jpg) -2rem -3rem; width: 11.5rem; height: 3rem;}
						#nu_img_10 {background: url(../img/partners.jpg) -16rem -3rem; width: 10.5rem; height: 3rem;}
						#nu_img_11 {background: url(../img/partners.jpg) -29rem -3rem; width: 9.5rem; height: 3rem;}
						#nu_img_12 {background: url(../img/partners.jpg) -40rem -3rem; width: 14rem; height: 3rem;}
						#nu_img_13 {background: url(../img/partners.jpg) -2rem -8rem; width: 12rem;	height: 4rem;}
						#nu_img_14 {background: url(../img/partners.jpg) -16rem -8rem; width: 13rem; height: 4rem;}
						#nu_img_15 {background: url(../img/partners.jpg) -31rem -8rem; width: 10rem; height: 4rem;}
						#nu_img_16 {background: url(../img/partners.jpg) -43.3rem -8rem; width: 10rem; height: 4rem;}
						#nu_img_17 {background: url(../img/partners.jpg) -2rem 7rem; width: 12rem; height: 4rem;}
						#nu_img_18 {background: url(../img/partners.jpg) -16rem 7rem; width: 7rem; height: 4rem;}
						#nu_img_19 {background: url(../img/partners.jpg) -25rem 7rem; width: 8rem; height: 4rem;}
						#nu_img_20 {background: url(../img/partners.jpg) -34rem 7rem; width: 10rem; height: 4rem;}
					}
				}
			}
		}
		.nu_section_7 {margin-bottom: 6rem; height: auto; overflow: auto;
			.section-title {color: $primary-color; font-family: $raleway; font-weight: 600; font-size: 1rem; padding: 1rem;}
			.row {margin: 3rem 0;
				.col-12.col-lg-3 {padding-right: 0;
					.nav-link.active {color: $primary-color; font-family: $poppins; font-weight: 600; background-color: #fff; box-shadow: -4px 0px 4px 1px #ccc; border-radius: 0; z-index:1; margin-right: 0;}
					.nav-link {color: #666; font-family: $poppins; padding: 1rem 0 1rem 1rem; border-bottom: 1px solid #ddd; border-radius: 0; margin-right: 2rem;}
					.nav-link:first-child {margin-top: 0;}
				}
				.col-12.col-lg-9 {padding-left: 0;
					.tab-content {padding: 1rem; box-shadow: 0px 0px 4px 1px #ccc; border: none; margin-left: 0px; z-index: 0;
						.card {border: none;
							.card-body {padding: 1rem;
								h5 {font-family: $poppins; font-weight: 300; color: #666; line-height: 1.6; font-size: 1rem;}
							}
						}
					}
				}
			}
		}	
	}
	.nu_section_8 {background-color: #303030; padding: 5rem 0;
		.nu_section_8a {
			.card {background: transparent; border: none;
				.card-body {
					.section-title {color: $primary-color; font-family: "Raleway", sans-serif; font-weight: 600; font-size: 1rem;}
					h5 {color: #c1c1c1; font-family: $raleway; font-weight: 600; font-size: 1.8rem; margin: 1.5rem 0;}
					ul {list-style: none; padding: 0;
						li {margin: 0.5rem 0;
							a {color: #666; font-family: $raleway; font-weight: 600; font-size: 1rem;}
						}
						li:first-child {
							a {color: #c1c1c1;}
						}
					}
					.btn {background: $primary-color; border-color: $primary-color; font-family: $raleway; padding: 0.375rem 1.5rem; font-weight:600; margin-top: 1rem; font-size: 0.8rem;}
				}
			}
		}
		.nu_section_8b {
			.card {background: transparent; border: none;
				.card-header {background-color: #3b3d41; color:#999; text-align: center; font-family: $raleway; font-weight: 600; border-top-left-radius: 1rem; border-top-right-radius: 1rem;}
				.card-body {background: #1c1d1f; border-bottom-left-radius: 1rem; border-bottom-right-radius: 1rem;}
				p {margin-top: 1rem; color:#999; text-align: center; font-family: $raleway; font-weight: 600;}
			}
		}
	}
}




/*********************** Industry Page ***************************/

.nu_industry_page {
	.container {width:65%;}
	.nu_industry_banner {
		.card {border-radius: 0; border: none;
			.card-img {border-radius: 0;}
			.card-img-overlay {height: auto; overflow: auto; display: flex; align-items: baseline; justify-content: center; text-align: center; margin: 4rem 0;
				.nu_overlay_wrapper {width: 50%;
					h5 {font-family: $raleway; font-weight: 500;}
					p {font-family: $raleway; font-size: 2rem; font-weight: 600; margin: 2rem 0;}
					.btn {padding: 0.5rem 2.5rem; font-family: $raleway; font-weight: 500; margin: 0.5rem;}
				}
			}
		}
	}
	.nu_section_1 {height: auto; overflow: auto; padding: 2rem 1rem; margin: 3rem 0;
		.card {border: none; border-radius: 0; font-family: $raleway;
			.card-title {font-size: 1rem; color: $primary-color; font-weight: 600;}
			p {font-size: 1rem; color: #666; margin: 0;}
		}
	}
	.nu_section_2 {height: auto; overflow: auto; padding: 4rem 1rem; margin: 3rem 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;
		.section-title {font-family: $raleway; font-size: 1rem; color: $primary-color; font-weight: 600; padding: 1rem 2rem;}
		.card {border: none; border-radius: 0; font-family: $raleway;
			img {padding: 1.5rem;}
			.card-body {
				.card-title {font-weight: 700;}
			}
		}
	}
	.nu_section_3 {height: auto; overflow: auto; padding: 2rem 1rem; margin: 3rem 0; text-align: center; border-bottom: 1px solid #ddd;
		.card {border: none; border-radius: 0;
			.card-body {padding: 1rem 0; text-align: center;
				h3 {font-family: $raleway; color:$primary-color; font-weight: 700; font-size: 1.2rem; margin-bottom:2rem; text-align: center;}
				div {display: inline-flex; flex-wrap: wrap; justify-content: space-between; transform: scale(.75);}
				#nu_img_5 {background: url("../img/companies.jpg") -42rem 11.5rem; width: 10rem; height: 4rem;}
				#nu_img_6 {background: url("../img/companies.jpg") -54rem 11.5rem; width: 11rem; height: 4rem;}
				#nu_img_7 {background: url("../img/companies.jpg") -67rem 11.5rem; width: 7rem; height: 4rem;}
			}
		}
		.nu_speech_bubble {position: relative; width: 80%; text-align: left; padding: 1rem 2rem 0.5rem 2rem; margin: 1rem auto; border: 1px solid $primary-color; color: #333; background: #fff; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; box-shadow: 3px 3px 3px -2px #aaa;}
		.nu_speech_bubble:after {content: ""; position: absolute; bottom: -19px; left: 46px; border-width: 21px 7px 0px 25px; border-style: solid; border-color: #fff transparent; display: block; width: 0;}
		.nu_speech_bubble:before {content: ""; position: absolute; bottom: -20px; left: 46px; border-width: 20px 8px 0px 25px; border-style: solid;	border-color: $primary-color transparent; display: block; width: 0;}
		.nu_author {width: 60%; margin: 0 auto; height: auto; overflow: auto;
			.card {display: flex; flex-wrap: wrap; justify-content: flex-start; flex-direction: inherit;
				img {width: 6rem; margin-right: 1rem; padding: 0.5rems;}
				.card-body {text-align: left;
					h5 {margin: 0; font-family: $raleway; font-weight: 700;}
					p {margin: 0.5rem 0; font-family: $raleway; font-weight: 500; color: #666;}
				}
			}
		}
		.btn {background: $primary-color; border-color: $primary-color; padding: 0.5rem 2rem; margin: 3rem 0;}
	}
	.nu_API {height: auto; overflow: auto; padding: 2rem 1rem; margin: 1rem 0; text-align: center;
		.card {border: none; border-radius: 0;
			.card-title {font-family: $raleway; font-weight: 700; margin-bottom: 2rem;}
			.btn {margin: 0.5rem; border-color: $primary-color; color: $primary-color; padding: 0.5rem 2rem;}
			.btn:hover {background-color: $primary-color; color: #fff;}
		}
		
	}
	.nu_section_4 {background-color: #303030; padding: 5rem 0;
		.nu_section_4a {
			.card {background: transparent; border: none;
				.card-body {
					h5 {color: #fff; font-family: $raleway; font-weight: 600; font-size: 1.5rem; margin: 1.5rem 0;}
					p {color: #fff;}
				}
			}
		}
		.nu_section_4b {
			form {padding: 2rem 3rem;
				input {border: none; border-radius: 0; background-color: transparent; color: #ccc; border-bottom: 1px solid #999; margin-bottom: 0.5rem; font-size: 1.2rem; font-family: $raleway;}
				input:focus {box-shadow: none;}
				.btn {background-color: $primary-color; border-color: $primary-color; color: #fff; font-family: $raleway; font-weight: 600; margin-top: 2rem; padding: 0.5rem 2rem;}
				p {font-family: $raleway; font-size: 0.8rem; margin-top: 2rem; color: #ccc;
					a {color: #ccc; border-bottom: 1px solid #ccc;}
				}
			}
		}
	}
	footer {
		.container {width: auto;}
	}
}

/********************* Product Page *********************/

.nu_product_page {
	.nu_section_1 {height: auto; overflow: auto; padding: 1rem; margin: 3rem 0 5rem 0;
		.card {border: none; border-radius: 0; font-family: $raleway;
			img {border: none; border-radius: 0;}
		}
		.nu_section_1a {
			.card-title {font-weight: 900;}
			p {font-weight: 500; color: #333;}
			ul {list-style: none; padding: 0; margin-bottom: 1.5rem;
				li {margin-bottom: 0.5rem;
					a {color: #333; border-bottom: 1px dashed #333;}
				}
			}
			.btn {margin-right: 0.5rem; padding: 0.5rem 2rem; font-weight: 600;}
			.btn-primary {background-color: $primary-color; border-color: $primary-color;}
			.btn-outline-primary {border-color: $primary-color; color: $primary-color;}
			.btn-outline-primary:hover, .btn-outline-primary:focus {background: $primary-color; border-color: $primary-color; color: #fff;}
		}
		.nu_section_1b {height:auto; overflow: auto; margin-top: 5rem; padding: 2rem;}
	}
	.nu_section_2 {height: auto; overflow: auto; padding: 1rem 2rem; margin: 5rem 0 3rem;
		h4 {font-family: $raleway; font-weight: 600; font-size: 1.4rem; color: $primary-color; margin-bottom: 3rem;}
		.carousel-inner {width: 88%;
			.card {border: none; border-radius: 0;
				img {width: 7rem; padding: 0 1rem;};
				.card-body {padding: 0.5rem;
					.card-title {font-size: 1.2rem;}
					p {font-size: 0.9rem;}
				}
			}
		}
		.carousel-control-prev {right: 3.5rem; left: initial; background-color: #333; border: 1px solid #333;} 
		.carousel-control-next {border: 1px solid $primary-color; background-color: $primary-color;}
		.carousel-control-next, .carousel-control-prev {top: 43%; bottom: 43%; width: 2.5rem;}
	}
	.nu_section_3 {height: auto; overflow: auto; padding: 1rem; margin: 3rem 0;
		.row {margin: 2rem 0;}
		.row:last-child {margin-bottom: 0;}
		.card {border: none; border-radius: 0; font-family: $raleway; 
			img {width: 80%;}
			.card-body {margin: 2rem 0;
				.card-title {font-weight: 700; color: $primary-color; margin-bottom: 1.5rem;}
				h4 {font-weight: 700; font-size: 1.8rem;}
				ul {padding: 1rem;
					li {color: #333; margin-bottom: 0.8rem;}
				}
				.btn {border-color: $primary-color; color: $primary-color; font-weight: 600; font-size: 0.8rem; padding: 0.5rem 1rem;}
				.btn:hover, .btn:focus {background-color: $primary-color; color: #fff; border-color: $primary-color;}
			}
		}
	}
	.nu_section_4 {height: auto; overflow: auto; width: 95%; padding: 1rem; margin: 3rem auto; padding: 0rem 4rem; border: 10px solid #f0fafb; border-radius: 0;
		.nu_sub_sec_4 {
			.nu_sub_sec_4a {width: 30%; float: left;
				.card {padding: 2rem 0.5rem; border: none; border-radius: 0; font-family: $raleway; text-align: center;
					img {width: 5rem; margin: 1rem auto;}
					.card-body {padding: 0;
						.card-title {font-weight: 600;}
						p {font-size: 0.8rem; color: #333;}
					}
				}
			}
			.nu_sub_sec_4b {width: 68%; float: left; margin: 2rem 0; 
				.card {border: none; border-radius: 0; font-family: $poppins; padding: 0 3rem;
					p {font-size: 1rem;}
					a {color: $primary-color; margin-top: 1rem; font-family: $raleway;
						span {border-bottom: 1px solid $primary-color;}
					}
				}
			}
		}
	}
	.nu_section_5 {height: auto; overflow: auto; padding: 2rem 1rem; margin: 3rem 0;
		.card {border: none; border-radius: 0; text-align: center;
			.card-title {font-family: $raleway; font-size: 1.5rem; font-weight: 600;}
			.card-body {padding: 1rem 0; display: flex; flex-wrap: wrap; justify-content: space-between; 
				div {transform: scale(.8);}
				#nu_ind_1 {background: url(../img/industry_sprite.jpg) -3rem -2rem; width: 9rem; height: 11rem;}
				#nu_ind_2 {background: url(../img/industry_sprite.jpg) -14rem -2rem; width: 9rem; height: 11rem;}
				#nu_ind_3 {background: url(../img/industry_sprite.jpg) -26rem -2rem; width: 9rem; height: 11rem;}
				#nu_ind_4 {background: url(../img/industry_sprite.jpg) -38rem -2rem; width: 9rem; height: 11rem;}
				#nu_ind_5 {background: url(../img/industry_sprite.jpg) -51rem -2rem; width: 9rem; height: 11rem;}
				#nu_ind_6 {background: url(../img/industry_sprite.jpg) -64rem -2rem; width: 9rem; height: 11rem;}
				#nu_ind_7 {background: url(../img/industry_sprite.jpg) -76rem -2rem; width: 9rem; height: 11rem;}
			}
		}
	}
	.nu_section_6 {height: auto; overflow: auto; padding: 2rem 1rem; margin: 3rem 0; background-color: #3f3f3f;
		.card {border: none; border-radius: 0; width: 70%; margin: 2rem auto; background-color: transparent; color: #fff; text-align: center; font-family: $raleway;
			.card-body {padding: 1rem 0;
				.card-title {font-size: 2rem; font-weight: 700; margin-bottom: 2rem;}
				.btn-primary {border-color: $primary-color; background-color: $primary-color; font-weight: 600; padding: 0.5rem 2rem;}
				.btn-outline-primary {border-color: $primary-color; color: $primary-color; margin-right: 0.5rem; font-weight: 600; padding: 0.5rem 2rem;}
				.btn-outline-primary:hover {border-color: $primary-color; background-color: $primary-color; color: #fff;}
			}
		}
	}
	.nu_section_7 {height: auto; overflow: auto; padding: 2rem 1rem; margin: 3rem 0 8rem 0;
		h4 {font-family: $raleway; font-weight: 700; font-size: 1.5rem; margin-left: 1rem;}
		.row {margin: 3rem 0;
			.col-4 {padding-right: 0;
				.nav-link.active {color: $primary-color; font-family: $poppins; font-weight: 600; background-color: #fff; box-shadow: -4px 0px 4px 1px #ccc; border-radius: 0; z-index:1; margin-right: 0;}
				.nav-link {color: #666; font-family: $poppins; padding: 1rem 0 1rem 1rem; border-bottom: 1px solid #ddd; border-radius: 0; margin-right: 2rem;}
				.nav-link:first-child {margin-top: 0;}
			}
			.col-8 {padding-left: 0;
				.tab-content {padding: 1rem; box-shadow: 0px 0px 4px 1px #ccc; border: none; margin-left: 0px; z-index: 0;
					.card {border: none; font-family: $raleway;
						.card-body {padding: 0 2rem;
							h5 {font-family: $poppins; font-weight: 600; line-height: 1.6; font-size: 1.5rem; width: 80%;}
							p {color: #333; font-size: 1.2rem;}
						}
					}
				}
			}
		}
	}
}



$breakpoint-laptop: 1260px;
$breakpoint-tablet-xl: 1020px;
$breakpoint-tablet-sm: 768px;
$breakpoint-phone-xl: 560px;

/*********************** MEDIA QUERIES ***********************/

@media only screen and (min-width: 1021px) and (max-width: $breakpoint-laptop) {
	.nu_home_page .container {max-width: 100%;}
	.nu_home_page .container-fluid .container .nu_section_1 {margin-bottom: 15rem;}
	.nu_home_page .container-fluid .container .nu_section_1 .nu_section_1a h1 {font-size: 2.5rem;}
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2b .card {margin: 2rem 0;}
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2b .card .card-body {padding: 0;}
	.nu_home_page .container-fluid .container .nu_section_3 .card h3 {width: 55%;}
	.nu_home_page .container-fluid .container .nu_section_3 .card ul li {font-size: 1.2rem; margin: 1rem 0; width: 30%;}
	.nu_home_page .container-fluid .container .nu_section_4 .card .card-body {padding: 1rem 13rem;}
	.nu_home_page .nu_section_5 .card .card-body .card-title {font-size: 1.5rem;}
	.nu_home_page .nu_section_5 .card img,
	.nu_home_page .nu_section_8 .nu_section_8b .card {padding-right:1rem;}
	footer .nu_footer_body .nu_footer_sec_2 ul li {width: 6rem;}
} 

@media only screen and (min-width: 551px) and (max-width: $breakpoint-tablet-xl) {
	.nu_home_page .container {max-width: 100%;}
	.nu_home_page .container-fluid .container .nu_section_1 {padding: 3rem 0; margin-bottom: 10rem;}
	.nu_home_page .container-fluid .container .nu_section_1 .nu_section_1a h1 {font-size: 2rem; margin: 1.5rem 0;}
	.nu_home_page .container-fluid .container .nu_section_1 .nu_section_1a p {font-size: 1.2rem;}
	.nu_home_page .container-fluid .container .nu_section_1 .nu_latest span {padding: 2px 8px; font-size: 0.8rem;}
	.nu_home_page .container-fluid .container .nu_section_1 .nu_section_1a button {margin: 1rem 0;}
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2b .card {margin-bottom: 1.5rem;}
	.nu_home_page .container-fluid .container .nu_section_3 .card h3 {font-size: 2rem; width: 70%;}
	.nu_home_page .container-fluid .container .nu_section_3 .card ul li {margin: 1rem 0;}
	.nu_home_page .nu_section_5 .card .card-body .card-title {font-size: 1.2rem;}
	.nu_home_page .container .nu_section_6 {padding: 0;}
	.nu_home_page .container .nu_section_7 {margin: 5rem 0;}
	.nu_home_page .container .nu_section_7 .row {margin: 1rem 0;}
	.nu_home_page .container .nu_section_7 .row .col-12.col-lg-3 .nav-link {padding: 0.77rem;}
	.nu_home_page .nu_section_8 .nu_section_8a .card .card-body h5 {font-size: 1.2rem;}
	.nu_home_page .nu_section_8 .nu_section_8b .card {padding: 1rem 2rem 1rem 1rem;}
	footer .nu_footer_body .nu_footer_sec_1 .nu_footer_sec_1a h3 {font-size: 2.5rem; margin-bottom: 1rem;}
	footer .nu_footer_body .nu_footer_sec_2 {margin-top: 3rem;}
	footer .nu_footer_body .nu_footer_sec_2 ul li {width: 7rem; margin: 0.2rem 0;}
}

@media only screen and (max-width: $breakpoint-phone-xl) {
	.nu_home_page {background-position-y: 31rem;}
	.nu_home_page .container-fluid .container .nu_section_1 {padding: 1rem 0;}
	.nu_home_page .container-fluid .container .nu_section_1 .card img {width: 80%; margin: 1rem auto;}
	.nu_home_page .container-fluid .container .nu_section_1 .card-body,
	.nu_home_page .container-fluid .container .nu_section_2 .card-body,
	.nu_home_page .container-fluid .container .nu_section_3 .card-body,
	.nu_home_page .nu_section_5 .card .card-body,
	.nu_home_page .container .nu_section_6 .card-body,
	.nu_home_page .nu_section_8 .nu_section_8a .card .card-body {padding: 0;}

	.nu_home_page .container-fluid .container .nu_section_1 .nu_latest span {padding: 2px 8px; font-size: 0.8rem;}
	.nu_home_page .container-fluid .container .nu_section_1 .nu_section_1a h1 {font-size: 1.5rem; margin: 1rem 0 1rem;}
	.nu_home_page .container-fluid .container .nu_section_1 .nu_section_1a p {font-size: 1rem;}
	.nu_home_page .container-fluid .container .nu_section_1 .nu_section_1a button {margin: 0.375rem 0; font-size: 0.8rem; padding: 0.375rem 1rem;}
	.nu_home_page .container-fluid .container .nu_section_1 a {border-bottom: 1px solid #000; margin-top: 1rem;}
	.nu_home_page .container-fluid .container .nu_section_1 {margin-bottom: 6rem;}

	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2a,
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2b {margin-bottom: 2rem;}
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2a .card .card-title {font-size: 1.5rem; margin: 1rem 0;}
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2a .card p {font-size: 1rem; margin-bottom: 1.5rem;}
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2b .card {margin-bottom: 1.5rem;}
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2b .card .card-body,
	.nu_home_page .container-fluid .container .nu_section_2 .nu_section_2b .card span {padding: 0rem;}

	.nu_home_page .container-fluid .container .nu_section_3 {padding: 2rem 0; margin-bottom: 2rem;}
	.nu_home_page .container-fluid .container .nu_section_3 .card h3 {font-size: 1.5rem; width: 70%; margin-bottom: 1rem;}
	.nu_home_page .container-fluid .container .nu_section_3 .card ul li .nu_counter {width: 2rem; height: 2rem; font-size: 1rem; padding: 3px; margin-top: 0rem;}
	.nu_home_page .container-fluid .container .nu_section_3 .card ul li {font-size: 1.2rem; margin: 0.5rem 0; width: auto;}

	.nu_home_page .container-fluid .container .nu_section_4 .card .card-body h3 {font-size: 1.5rem; margin-bottom: 2rem;}
	.nu_home_page .nu_section_5 {padding: 4rem 0;}
	.nu_home_page .nu_section_5 .card {margin-bottom: 2rem;}
	.nu_home_page .nu_section_5 .card .card-body .card-title {font-size: 1.5rem;}

	.nu_home_page .container .nu_section_6 {padding: 0; margin: 4rem 0;}
	.nu_home_page .container .nu_section_7 {margin: 3rem 0;}
	.nu_home_page .container .nu_section_7 .row {margin: 2rem 0 0 0;}
	.nu_home_page .container .nu_section_7 .row .col-12.col-lg-3,
	.nu_home_page .container .nu_section_7 .row .col-12.col-lg-9 {padding: 0;}
	.nu_home_page .container .nu_section_7 .row .col-12.col-lg-3 .nav-link.active {box-shadow: 0px 0px 9px -2px #ccc;}
	.nu_home_page .container .nu_section_7 .row .col-12.col-lg-3 .nav-link {margin-right: 0;}
	.nu_home_page .container .nu_section_7 .row .col-12.col-lg-9 .tab-content {padding: 1rem; box-shadow: 0px 0px 5px 1px #ccc; margin: 1.5rem 0.3rem;}

	.nu_home_page .nu_section_8 {padding: 4rem 0;}
	.nu_home_page .nu_section_8 .nu_section_8a .card .card-body h5 {font-size: 1.5rem; margin: 0.5rem 0;}
	.nu_home_page .nu_section_8 .nu_section_8a .card .card-body .btn {margin: 0 0 2rem 0;}

	footer .nu_footer_body .card .brand-logo {margin-bottom: 4rem;}
	footer .nu_footer_body .nu_footer_sec_1 .nu_footer_sec_1a {padding-right: 1rem;}
	footer .nu_footer_body .nu_footer_sec_1 .nu_footer_sec_1a h3 {font-size: 1.5rem; margin-bottom: 0;}
	footer .nu_footer_body .nu_footer_sec_2 {margin: 1rem 0 0 0;}
	footer .nu_footer_body .nu_footer_sec_2 ul li {width: 7rem; margin: 0.5rem 0;}
	footer .nu_footer_end span {margin-bottom: 2rem;}

	.nu_industry_page .container {max-width: 100%; width: 100%;}
	.nu_industry_page .nu_industry_banner .card .card-img-overlay {padding: 0.5rem; margin: 0; line-height: 1.4;}
	.nu_industry_page .nu_industry_banner .card .card-img-overlay .nu_overlay_wrapper {width: 100%;}
	.nu_industry_page .nu_industry_banner .card .card-img-overlay .nu_overlay_wrapper p {font-size: 1rem; margin: 0;}
	.nu_industry_page .nu_industry_banner .card .card-img-overlay .nu_overlay_wrapper .btn {padding: 5px 10px; margin: 5px; background-color: #333; color: #fff;}
	.nu_industry_page .nu_section_1 {margin: 2rem 0;}
	.nu_industry_page .nu_section_1 .row {margin-bottom: 2rem;}
	.nu_industry_page .nu_section_1 .row:last-child {margin-bottom: 0;}
	.nu_industry_page .nu_section_2 .section-title {padding: 1rem;}
	.nu_industry_page .nu_section_1 .row .card .card-body {padding: 0;}
	.nu_industry_page .nu_section_2 .card img {padding: 0.5rem; width: 30%;}
	.nu_industry_page .nu_section_2,
	.nu_industry_page .nu_section_3 {padding: 2rem 1rem; margin: 2rem 0;}
	.nu_industry_page .nu_section_3 .nu_speech_bubble {width: 100%; padding: 1rem; margin-bottom: 2rem;}
	.nu_industry_page .nu_section_3 .nu_author {width: 100%;}
	.nu_industry_page .nu_section_4 {padding: 2rem 0;}
	.nu_industry_page .nu_section_4 .nu_section_4b form {padding: 1rem;}
}

